<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crams API - Unavailable</title>
</head>
<body>

    <H2>Severe Error : CRAMS API</H2><BR>
    <H3>
        <P>Application unavailable.</P>
        <P>Please contact support at Nectar Core Services</P>
    </H3>

</body>
</html>